body {
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
}

video{
  height: 100vh;
  transform: scale(1.16);
  overflow: hidden;
  object-fit: none !important;
  margin: 0px;
  padding: 0px;
}

video, video source {
  width: 100%;
}

/* @media (max-width: 768px) {
}

@media (max-width: 765px) {
} */

@media (max-width: 1025px) {
  video {
    transform: scale(1);
  }
}

/* @media (max-width: 576px) {
}

@media (max-width: 575px) {
}

@media (max-width: 320px) {
}

@media (max-width: 1440px) {
} */
